<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unuse</title>
</head>

<body>
<form id="account" action="/" method="post">
    <input type="hidden" id="userId" name="userId" value="">
    <input type="hidden" id="groupId" name="groupId" value="">
    <input type="hidden" id="name" name="name" value="">
</form>
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

<script type="text/javascript">
    var event = new Event('input');
    document.getElementById("groupId").addEventListener('input', function () {
        document.getElementById("account").submit()
    });

    liff.init(function (data) {
        document.getElementById('userId').value = data.context.userId;
        document.getElementById('groupId').value = data.context.groupId;
        liff.getProfile().then(function (profile) {
            document.getElementById('name').value = profile.displayName;
            document.getElementById('groupId').dispatchEvent(event);
        });
        liff.closeWindow();
    });
</script>
</body>
