<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>記帳本</title>
    <link rel="stylesheet" type="text/css" href="/static/css/root.css">
</head>
<body>
<div class="login-form">
    <form method="post">
        <input type="hidden" id="userId" name="userId">
        <input type="hidden" id="groupId" name="groupId">
        <input type="hidden" id="name" name="name">
        <div class="form-area">
            <div class="group">
                <label>
                    <input type="checkbox" class="select-all"/>
                    <span>All</span>
                </label>
            </div>
            <div class="group">
                <input type="number" pattern="[0-9]*" class="form-control" placeholder="每人金額" id="amount" name="amount"
                       required/>
                <i class="fa fa-dollar"></i>
            </div>
            <div class="group">
                <input type="text" class="form-control" placeholder="項目" id="note" name="note"/>
                <i class="fa fa-pencil-square-o"></i>
            </div>
            <button type="button" class="btn btn-default btn-block submit"><p style="padding-top: 7px">送出</p></button>
        </div>
    </form>
</div>

<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    var event = new Event('input');
    $("#groupId").bind('input', function () {
        $.ajax({
            url: "/debt/getAccount",
            type: "POST",
            data: $("form").serialize(),
            dataType: "json",
            error: function (err) {
                console.log(err);
            },
            success: function (result) {
                result.forEach(setAccountButton);
            }
        });
    });

    var isInClient = liff.isInClient();
    if (!isInClient) alert("請用手機版Line開啟");

    liff.init(function (data) {
        $('#userId').val(data.context.userId);
        $('#groupId').val(data.context.groupId);
        liff.getProfile().then(function (profile) {
            $('#name').val(profile.displayName);
            $('#groupId').trigger("input");
        });
    });

    setSubmitEvent();

    function setSubmitEvent() {
        $(".submit").click(function () {
            removeSubmitEvent();
            $.ajax({
                url: "/debt/add",
                type: "POST",
                data: $("form").serialize(),
                dataType: "json",
                error: function (err) {
                    console.log(err);
                    setSubmitEvent();
                },
                success: function (result) {
                    if (result.status === 1) {
                        $("#note").val("");
                        $("#amount").val("");
                        $("input[type='checkbox']").prop("checked", false);
                    }
                    $("p").text(result.message);
                    $("p").fadeOut(2000);
                    setTimeout(setButtonText, 2000);
                    setSubmitEvent();
                }
            });
        });
    }

    function removeSubmitEvent(){
        $(".submit").unbind("click");
    }

    function setButtonText() {
        $("p").text("送出");
        $("p").show(1);
    }

    function setAccountButton(item, index) {
        $("label:last").after("<label><input type='checkbox' name='userIds' value='" + item.userId + "'/><span>" +  item.name + "</span></label>")
        console.log(item);
    }

    $(".select-all").click(function () {
        if ($(".select-all").prop("checked")) $("input[type='checkbox']").prop("checked", true);
        else $("input[type='checkbox']").prop("checked", false);
    });
</script>
</body>
</html>
